.contact1{
  background-color: #F5F2E7;
height: 450px;
width: 100%;
}
.contact1 p{
  text-align: center;
  color: #2C541D;
  letter-spacing: 6px;
  font-size: xx-large;
  margin-top: 120px;
}
.tal2us1{
 float: left;
}